flask>=2.0.2
requests>=2.26.0
pydantic
keyring
numpy
ccxt
pandas
stdiomask
termcolor==1.1.0
pendulum
tulir-telethon
keyrings.alt
pandas-ta
flask_sqlalchemy
flask_bcrypt
flask_wtf
wtforms[email]
flask-login
flask_session_captcha
Flask-Migrate
tronpy==0.2.6
requests==2.27.1


