<style>
   .modal-content {
   background-color: #ffffff;
   text-color: #000000
   }
</style>
<!-- Add -->
<div class="modal fade" id="Modal-Add"
   tabindex="-1"
   aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">
               <!-- -->
               Add new API
            </h5>
            <button type="button" class="close"
               data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form method="POST">
               {{ add_form.hidden_tag() }}
               <br>
               {{ add_form.api_name.label() }}
               {{ add_form.api_name(class="form-control", placeholder="API name") }}
               {{ add_form.api_key.label() }}
               {{ add_form.api_key(class="form-control", placeholder="API key") }}
               {{ add_form.secret_key.label() }}
               {{ add_form.secret_key(class="form-control", placeholder="Secret key") }}
               <br>
               <div class="modal-footer">
                  <input id="added_api_label" name="added_api_label" type="hidden" value="{{add_form.api_name.data}}">
                  {{ add_form.submit(class="btn btn-success btn-block") }}
                  <button type="button" class="btn btn-secondary"
                     data-dismiss="modal">Close
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- Remove Confirm -->
<div class="modal fade" id="Modal-RemoveConfirm-{{ api_label }}"
   tabindex="-1"
   aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">
               <!-- -->
               {{ api_label }}
            </h5>
            <button type="button" class="close"
               data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form method="POST">
               {{ remove_form.hidden_tag() }}
               <h4 class="text-center">
                  Are you sure you want to remove {{ api_label }} ?
               </h4>
               <br>
               <h6 class="text-center">
                  By clicking Remove, you will remove this API.
               </h6>
               <br>
               <div class="modal-footer">
                  <input id="removed_api_label" name="removed_api_label" type="hidden" value="{{api_label}}">
                  {{ remove_form.submit(class="btn btn btn-danger btn-block") }}
                  <button type="button" class="btn btn-secondary"
                     data-dismiss="modal">Close
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>