{% extends "base.html" %}
{% block autoreload %}<meta http-equiv="refresh" content="60">{% endblock %}
{% block title %}Report{% endblock %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3><i class="fas fa-tachometer-alt"></i> Report</h3> <span class="badge bg-secondary"><i class="far fa-clock"></i></span>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
        {% if is_ready_to_download %}
        <a href="{{ url_for('static', filename='report.xlsx') }}" download="report.xlsx">
            <button type="button" class="btn btn-primary">
                Download to Excel
            </button>
        </a>
        {% endif %}
        </div>
        <div class="btn-group me-2">
            <form method="GET" name="daterangeform">
                <div class="input-group input-group-sm">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    <input type="text" class="form-control" name="daterange" size="22" />
                </div>
            </form>
        </div>
        <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.binance.com/en/futures/{{ coin }}" target="_blank">
            <i class="fas fa-external-link-alt"></i> View on Binance
        </a>
    </div>
</div>

{% for report in reports %}

<hr>
<br>

<h6>Username: {{ report["username"] }}</h6>
<h6>Balance: {{ report["report"]["balance"] }}</h6>

<h6> Bots revenue: </h6>
{% if report["report"]["profit_period"] != []  %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Bot name</th>
        <th scope="col">Income</th>
    </tr>
    </thead>
    <tbody>

    {% for income in report["report"]["profit_period"] %}
    <tr>
        <th scope="row">#</th>
        <td>{{ income["name"] }}</td>
        <td>{{ income["income"] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Bot name</th>
        <th scope="col">Income</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">#</th>
        <td>-</td>
        <td>-</td>
    </tr>
    </tbody>
</table>
{% endif %}

<h6> Withdraw history: </h6>
{% if report["report"]["withdraw_history"] != []  %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Time</th>
        <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>

    {% for wit in report["report"]["withdraw_history"] %}
    <tr>
        <th scope="row">#</th>
        <td>{{ wit["time"] }}</td>
        <td>{{ wit["amount"] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Time</th>
        <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">#</th>
        <td>-</td>
        <td>-</td>
    </tr>
    </tbody>
</table>
{% endif %}

<h6> Deposit history: </h6>
{% if report["report"]["deposit_history"] != []  %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Time</th>
        <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>

    {% for dep in report["report"]["deposit_history"] %}
    <tr>
        <th scope="row">#</th>
        <td>{{ dep["time"] }}</td>
        <td>{{ dep["amount"] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Time</th>
        <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">#</th>
        <td>-</td>
        <td>-</td>
    </tr>
    </tbody>
</table>
{% endif %}

<h6> Referral profit: </h6>
{% if report["report"]["referral_profit"] != []  %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Time</th>
        <th scope="col">Level №1</th>
        <th scope="col">Level №2</th>
        <th scope="col">Level №3</th>
        <th scope="col">Level №4</th>
    </tr>
    </thead>
    <tbody>
    {% for ref in report["report"]["referral_profit"] %}
    <tr>
        <th scope="row">#</th>
        <td>{{ ref["time"] }}</td>
        <td>{{ ref["lvl"]["lvl_1"] }}</td>
        <td>{{ ref["lvl"]["lvl_2"] }}</td>
        <td>{{ ref["lvl"]["lvl_3"] }}</td>
        <td>{{ ref["lvl"]["lvl_4"] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Time</th>
        <th scope="col">Level №1</th>
        <th scope="col">Level №2</th>
        <th scope="col">Level №3</th>
        <th scope="col">Level №4</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">#</th>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    </tbody>
</table>
{% endif %}

<br>
<hr>

{% endfor %}

<script>
    $('input[name="daterange"]').daterangepicker({
        "showDropdowns": true,
        "autoApply": true,
        ranges: {
            'Today': ['{{timeranges[0][0]}}', '{{timeranges[0][1]}}'],
            'Yesterday': ['{{timeranges[1][0]}}', '{{timeranges[1][1]}}'],
            'This Week': ['{{timeranges[2][0]}}', '{{timeranges[2][1]}}'],
            'Last Week': ['{{timeranges[3][0]}}', '{{timeranges[3][1]}}'],
            'This Month': ['{{timeranges[4][0]}}', '{{timeranges[4][1]}}'],
            'Last Month': ['{{timeranges[5][0]}}', '{{timeranges[5][1]}}'],
            'This Year': ['{{timeranges[6][0]}}', '{{timeranges[6][1]}}'],
            'Last Year': ['{{timeranges[7][0]}}', '{{timeranges[7][1]}}'],
            'All Time': ['{{timeranges[8][0]}}', '{{timeranges[8][1]}}'],
        },
        "locale": {
            "format": "YYYY-MM-DD",
            "separator": " - ",
            "fromLabel": "From",
            "toLabel": "To",
            "weekLabel": "W",
            "daysOfWeek": [
                "Su",
                "Mo",
                "Tu",
                "We",
                "Th",
                "Fr",
                "Sa"
            ],
            "monthNames": [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ],
            "firstDay": 1
        },
        "alwaysShowCalendars": true,
        "startDate": "{{startdate}}",
        "endDate": "{{enddate}}",
        "opens": "left"
    });

    $('input[name="daterange"]').on('apply.daterangepicker', (e, picker) => {
      document.forms["daterangeform"].submit();
    });

Chart.register(ChartDataLabels);
const data = {
  labels: {{ data[1][0] | safe }},
  datasets: [{
    axis: 'y',
    label: 'Profit $',
    data: {{ data[1][1] }},
    fill: false,
    borderWidth: 1
  }]
};

const config = {
  type: 'bar',
  data: data,
  options: {
      onClick: graphClickEvent,
      indexAxis: 'y',
      plugins:{
          legend: {
              display: false
        },
      },
	  scales: {
		y: {
			ticks: {
				autoSkip: false,
			}
		}
	  }
  }
};

function graphClickEvent(event, array){
    if(array[0]){
        const value = data.labels[array[0].index];
        location.href = "../../coins/" + value;
    }
}

var myChart = new Chart(
    document.getElementById('barChart'),
    config
);

const data2 = {
  labels: {{ data[0][1] | safe }},
  datasets: [
	  {
		label: 'Profit',
		data: {{ data[0][0] }},
		fill: false,
		borderColor: 'rgb(75, 192, 192)',
		tension: 0.1,
		yAxisID: 'y',
	  },
	  {
		label: 'Balance',
		data: {{ data[2][0] }},
		fill: true,
		borderColor: 'rgba(240, 234, 151, 0.3)',
		backgroundColor: 'rgba(240, 234, 151, 0.3)',
		tension: 0.1,
		yAxisID: 'y1',
        datalabels: {
            labels: {
              title: null
            }
        }
	  },
  ]
};
const config2 = {
  type: 'line',
  data: data2,
  options: {
		responsive: true,
        layout: {
            padding: {
                top: 20
            }
        },
        plugins:{
            datalabels: {
                anchor: 'end',
                align: 'top',
                offset: 5,
            },
            legend: {
                display: false
            },
        },
		scales: {
			y: {
				type: 'linear',
				display: true,
				position: 'left',
				beginAtZero: true,
				ticks: {
					autoSkip: false,
				}
			},
			y1: {
				type: 'linear',
				display: true,
				position: 'right',
				grid: {
				  drawOnChartArea: false, // only want the grid lines for one axis to show up
				}
			}
		}
	}
};

var myChart = new Chart(
    document.getElementById('lineChart'),
    config2
);
</script>
{% endblock %}
